/* Resetting alle browser style 

/* Revert CSS style of target element and its children (on body tag)
.reset-style,
.reset-style * {
  all: revert;
} */

/* Start of Styleing */
/* style body */
body {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  align-content: space-between;
  justify-content: center;
}
body > * {
  flex: 1 100%;
}
/* Setting up Header*/
.header {
  max-height: 10vh;
}
/* Setting up Calculator main layout */
.content {
  display: flex;
  flex-flow: column;
  max-width: 20vw;
}
/*Setting up display style */
#inputDisplay {
  min-height: 50px;
}
/*Setting up btn*/
.btn {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
}

.btn > * {
  height: 50px;
}
/*Setting up grid style*/
#btnClear {
  grid-column-start: 1;
  grid-column-end: 3;
}
#btnDel {
  grid-column-start: 3;
  grid-column-end: 5;
}

/* Setting up Footer*/
.footer {
  max-height: 10vh;
  margin-bottom: 50px;
}
